*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#mainnavbar{
    display:flex;
    height:25px;
    width:98%;
    font-size:20px;
    border: 2px solid red;
    padding:5px;
    color:blue;
    margin-bottom: 30px;
    border-radius: 13px;
}
#mainnavbar div:nth-child(2){
    margin-left:50%;
    margin-right:50px;
}
h3{
    color:crimson;
    font-weight: 600;
    font-style: italic;
    text-shadow: 2px 2px gold;
    margin-top: 0;

}
#mainnavbar div{
    margin-right: 30px;
}

#count{
    border:1px solid green;
    height:20px;
    width:40px;
    margin-left:40px;
    padding:2px;
    border-radius: 50px;
    margin-left: 4px;
    margin-right: 4px;
}
#mainDiv{
    height:auto;
    width:auto;
    padding:20px;
    box-shadow:  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}

#menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;
}

#img{
    height:300px;
    width:300px;
    border-radius: 14px;
}
#name{
    font-size: 20px;
    font-weight: 600;
    color: blue;
}
#addtocart{
    background-color: white;
    border: 2px solid gold;
    color:red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}